<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О нас</title>
    <link rel="stylesheet" href="static/style.css" type="text/css"/>
</head>
<body class="justbody">
    <div class = "nav_panel">
        <form action="/main/">
            <button class="nav_button">Главная</button>
        </form>
        <button class="nav_button">О нас</button>
    </div>
    <div class = "text"> <p id="header"> О нас </p>
    <p> В разработке проекта принимали участие:</p>
    <ul>
    <li>Спицын Николай </li>
    <li>Савичев Дмитрий </li>
    <li>Феоктистов Дмитрий </li>
    </ul></div>
</body>
</html>