<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="static/style.css" type="text/css"/>
</head>
<body id="mainbody">
    <div class = "nav_panel">
    <button class="nav_button">Главная</button>
    <form action="/about/">
        <button class="nav_button">О нас</button>
    </form>
    </div>
    <div class = "heading1">УЧИСЬ <span class="grad">ЗДЕСЬ</span></div>
    <div class ="heading2">УЧИСЬ <span class="grad">СЕЙЧАС</span></div>
<div class="button-container"> <a href="/options/" class="button"> Начать </a> </div>
</body>
</html>