<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Режимы</title>
    <link rel="stylesheet" href="static/style.css" type="text/css"/>
</head>
<body class="justbody">
<div class = "nav_panel">
    <form action="/main/">
        <button class="nav_button">Главная</button>
    </form>

    <form action="/about/">
        <button class="nav_button">О нас</button>
    </form>
</div>
<img src="static/logo.png" class="logo" alt="Логотип"/>
<div id="variables">
    <div class="options" id="converter">
        <h1 class="option_heading">Конвертер</h1>
        <p class="option_text">Сконвертируйте вашу формулу в последовательность из слов, чтобы выучить её самостоятельно. Чтобы узнать о том, как формула конвертируется, почему так проще учить формулы, что такое мнемотехника и с чем её кушать.</p>
        <div class="button-container"> <a href="/converter/" class="button_options"> Начать </a> </div>
        <!-- <form action="converter.html">
            <button class="button_options">Начать</button>
        </form> -->
    </div>
    <div class="options" id="learning">
        <h1 class="option_heading">Заучивание</h1>
        <p class="option_text">Выберите группу формул, которые вы хотели бы выучить, запаситесь терпением (а также чаем или кофе на выбор) и вперёд! Режим бесконечный, вопросы будут задаваться до тех пор, пока вы не будете давать правильные ответы.</p>
        <div class="button-container"> <a href="/learning/" class="button_options" id="center"> Начать обучение </a> </div>
        <!-- <form action="learning.html">
            <button class="button_options">Начать обучение</button>
        </form> -->
    </div>

</div>
</body>
</html>